<h1>Contacts</h1>

<p>Size: {{model.length}}</p>
<p>Contacts with email: {{contactsWithEmail}}</p>

{{contacts/add-contact-form action='addNewContact'}}

<br>

{{contacts/contact-table model=model}}

{{confirmation-modal}}
